@import "tailwindcss";

html,
body,
#root {
	min-height: 100%;
}

body {
	background: rgb(249 250 251);
	color: rgb(17 24 39);
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
